# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backups
*.bak
*.tmp
.DS_Store
kubeconfig-jenkins

# Terraform
.terraform/
.terraform.lock.hcl

